/* style.css */
.titulo {
    margin: 2rem 0;
    text-align: center;
}

.area-formulario {
    margin: 2rem 0;
}

h3 {
    margin: 2rem 0;
}

.btn-primary {
    margin: 1rem 0;
}

.de-maior {
    color: green;
}

.de-menor {
    color: red;
}

.check-booleano {
    margin-top: 0.5rem;
}

.hr-final {
    margin-top: 1.25rem;
}